<div class="list-item bandos">

    <div class="list-blog-header">
        <h2 class="p-name">{{ page.title }}</h2>
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }} / {{ page.date|date("m") }} /{{ page.date|date("Y") }}</span>
            </time>
        </span>
    </div>

    <div class="list-blog-padding">
        <div class="e-content">
            {{ page.content }}

            {% set section = '/el-ayuntamiento/bandos' %}
            {% for page in page.find(section).children.order('date', 'desc') %}
                <p>
                    <small class="date"><span>{{ page.date|date("d") }}-{{ page.date|date("m") }}-{{ page.date|date("y") }}</span></small> <a href="{{ page.url }}">{{ page.title }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
