{% embed 'partials/base.html.twig' %}

	{% block content %}
	<div class="body-content-list list-videos">
		<div class="wrapper">

			<div class="grid pure-g">
				<div class="block pure-u-3-3">
			        <h2 class="p-name">{{ page.title }}</h2>
					<div class="e-content">
			            {{ page.content }}
			        </div>
				</div>
			</div>

			<div class="video-featured">
				<article class="card card-new card-new-wide pictured card-video">
					{% set video_featured = page.header.videos[0] %}
					<header class="video">
						<iframe src="{{ video_featured.url }}" frameborder="0" allowfullscreen></iframe>
					</header>
					<footer class="footer">
						<h3 class="title">{{ video_featured.title }}</h3>
						<small class="date">{{ video_featured.date }}</small>
					</footer>
				</article>
			</div><!-- / video-featured -->

			<div class="pure-g video-list">
				{% for video in page.header.videos %}
					<div class="pure-u-1-3 video-item">
						{% include "partials/card-video.html.twig" %}
					</div>
				{% endfor %}
			</div><!-- / video-featured -->

		</div>
	</div>
	{% endblock %}

{% endembed %}


